@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@theme inline {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "Geist Mono", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    '"Liberation Mono"', '"Courier New"', "monospace";
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-mono--font-feature-settings: "ss02", "zero";
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-primary-subtle: var(--primary-subtle);
  --color-primary-subtle-fg: var(--primary-subtle-fg);
  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);
  --color-success: var(--success);
  --color-success-fg: var(--success-fg);
  --color-success-subtle: var(--success-subtle);
  --color-success-subtle-fg: var(--success-subtle-fg);
  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);
  --color-danger-subtle: var(--danger-subtle);
  --color-danger-subtle-fg: var(--danger-subtle-fg);
  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
  --color-warning-subtle: var(--warning-subtle);
  --color-warning-subtle-fg: var(--warning-subtle-fg);
  --color-info-subtle: var(--info-subtle);
  --color-info-subtle-fg: var(--info-subtle-fg);
  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);
  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);
  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);
  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --animate-disclosure-collapsed: disclosure-collapsed 0.2s ease-out;
  --animate-disclosure-expanded: disclosure-expanded 0.2s ease-out;
  --radius-4xl: var(--radius-4xl);
  --radius-3xl: var(--radius-3xl);
  --radius-2xl: var(--radius-2xl);
  --radius-xs: var(--radius-xs);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-destructive: var(--destructive);
  --color-accent-fg: var(--accent-fg);
  --color-muted-fg: var(--muted-fg);
  --color-secondary-fg: var(--secondary-fg);
  --color-primary-fg: var(--primary-fg);
  --color-overlay-fg: var(--overlay-fg);
  --color-overlay: var(--overlay);
  --color-card-fg: var(--card-fg);
  --color-card: var(--card);
  --color-fg: var(--fg);
  --color-bg: var(--bg);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  @keyframes disclosure-expanded {
    from {
      height: 0;
    }
    to {
      height: var(--disclosure-height);
    }
  }
  @keyframes disclosure-collapsed {
    from {
      height: var(--disclosure-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --bg: oklch(0.9821 0 0);
  --fg: oklch(0.2435 0 0);
  --card: oklch(0.9911 0 0);
  --card-fg: oklch(0.2435 0 0);
  --overlay: oklch(0.9911 0 0);
  --overlay-fg: oklch(0.2435 0 0);
  --primary: oklch(0.4341 0.0392 41.9938);
  --primary-fg: oklch(1 0 0);
  --secondary: oklch(0.92 0.0651 74.3695);
  --secondary-fg: oklch(0.3499 0.0685 40.8288);
  --muted: oklch(0.9521 0 0);
  --muted-fg: oklch(0.5032 0 0);
  --accent: oklch(0.931 0 0);
  --accent-fg: oklch(0.2435 0 0);
  --destructive: oklch(0.6271 0.1936 33.339);
  --destructive-fg: oklch(1 0 0);
  --border: oklch(0.8822 0 0);
  --input: oklch(0.8822 0 0);
  --ring: oklch(0.4341 0.0392 41.9938);
  --chart-1: oklch(0.4341 0.0392 41.9938);
  --chart-2: oklch(0.92 0.0651 74.3695);
  --chart-3: oklch(0.931 0 0);
  --chart-4: oklch(0.9367 0.0523 75.5009);
  --chart-5: oklch(0.4338 0.0437 41.6746);
  --sidebar: oklch(0.9881 0 0);
  --sidebar-fg: oklch(0.2645 0 0);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-fg: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9761 0 0);
  --sidebar-accent-fg: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);

  /* ------------ subtle colors */
  --primary-subtle: oklch(0.623 0.214 259.815 / 0.15);
  --primary-subtle-fg: oklch(0.488 0.243 264.376);

  /* ------------ status colors*/
  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);
  --success-subtle: oklch(0.696 0.17 162.48 / 0.15);
  --success-subtle-fg: oklch(0.508 0.118 165.612);
  --info-subtle: oklch(0.685 0.169 237.323 / 0.15);
  --info-subtle-fg: oklch(0.5 0.134 242.749);
  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);
  --warning-subtle: oklch(0.828 0.189 84.429 / 0.2);
  --warning-subtle-fg: oklch(0.555 0.163 48.998);
  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);
  --danger-subtle: oklch(0.637 0.237 25.331 / 0.15);
  --danger-subtle-fg: oklch(0.505 0.213 27.518);

  /* ------------ radius */
  --radius: 0.5rem;
  --radius-xs: calc(var(--radius-lg) * 0.5);
  --radius-sm: calc(var(--radius-lg) * 0.75);
  --radius-md: calc(var(--radius-lg) * 0.9);
  --radius-xl: calc(var(--radius-lg) * 1.25);
  --radius-2xl: calc(var(--radius-lg) * 1.5);
  --radius-3xl: calc(var(--radius-lg) * 2);
  --radius-4xl: calc(var(--radius-lg) * 3);

  /* ------------ font */
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.dark {
  --bg: oklch(0.1776 0 0);
  --fg: oklch(0.9491 0 0);
  --card: oklch(0.2134 0 0);
  --card-fg: oklch(0.9491 0 0);
  --overlay: oklch(0.2134 0 0);
  --overlay-fg: oklch(0.9491 0 0);
  --primary: oklch(0.9247 0.0524 66.1732);
  --primary-fg: oklch(0.2029 0.024 200.1962);
  --secondary: oklch(0.3163 0.019 63.6992);
  --secondary-fg: oklch(0.9247 0.0524 66.1732);
  --muted: oklch(0.252 0 0);
  --muted-fg: oklch(0.7699 0 0);
  --accent: oklch(0.285 0 0);
  --accent-fg: oklch(0.9491 0 0);
  --destructive: oklch(0.6271 0.1936 33.339);
  --destructive-fg: oklch(1 0 0);
  --border: oklch(0.2351 0.0115 91.7467);
  --input: oklch(0.4017 0 0);
  --ring: oklch(0.9247 0.0524 66.1732);
  --chart-1: oklch(0.9247 0.0524 66.1732);
  --chart-2: oklch(0.3163 0.019 63.6992);
  --chart-3: oklch(0.285 0 0);
  --chart-4: oklch(0.3481 0.0219 67.0001);
  --chart-5: oklch(0.9245 0.0533 67.0855);
  --sidebar: oklch(0.2103 0.0059 285.8852);
  --sidebar-fg: oklch(0.9674 0.0013 286.3752);
  --sidebar-primary: oklch(0.4882 0.2172 264.3763);
  --sidebar-primary-fg: oklch(1 0 0);
  --sidebar-accent: oklch(0.2739 0.0055 286.0326);
  --sidebar-accent-fg: oklch(0.9674 0.0013 286.3752);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.8711 0.0055 286.286);

  /* ------------ subtle colors */
  --primary-subtle: oklch(0.623 0.214 259.815 / 0.1);
  --primary-subtle-fg: oklch(0.707 0.165 254.624);

  /* ------------ status colors*/
  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);
  --success-subtle: oklch(0.696 0.17 162.48 / 0.1);
  --success-subtle-fg: oklch(0.765 0.177 163.223);
  --info-subtle: oklch(0.685 0.169 237.323 / 0.1);
  --info-subtle-fg: oklch(0.828 0.111 230.318);
  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);
  --warning-subtle: oklch(0.828 0.189 84.429 / 0.1);
  --warning-subtle-fg: oklch(0.828 0.189 84.429);
  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);
  --danger-subtle: oklch(0.637 0.237 25.331 / 0.1);
  --danger-subtle-fg: oklch(0.704 0.191 22.216);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
  body {
    @apply bg-bg text-fg;
    bg-color: var(--bg);
    color: var(--fg);
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    bg: transparent;
  }
  ::-webkit-scrollbar-thumb {
    bg: var(--border);
    border-radius: 4px;
  }
}

@utility touch-target {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}
